@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap");
footer, .text-alineacion {
  background-color: #f4f4f4;
  bottom: 0;
  position: fixed;
  width: 100%; }

.text-alineacion {
  line-height: 10px;
  text-align: left; }

.box__chart {
  height: 400px !important;
  width: 100% !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  scroll-behavior: smooth; }

header {
  background: #e8e8e8;
  width: 100%;
  height: 110px !important;
  padding: 0;
  margin: 0;
  grid-area: header; }
  header .burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: white;
    border: none;
    color: grey;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in;
    float: right;
    margin-top: 56px; }
  header .nav-Custom-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc; }
    header .nav-Custom-mobile .ul-navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
    header .nav-Custom-mobile .closeMenu {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem; }
  header .persona-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 30%; }
  @media (min-width: 700px) {
    header .burgerMenu {
      display: none; }
    header nav ul {
      flex-direction: column; } }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #212529c4 !important;
  background-color: #e9ecef30 !important;
  font-weight: 600 !important; }

.text-black {
  color: #212529c4 !important;
  font-weight: 600 !important; }

.nav-Custom-desktop {
  display: none; }

input#menu {
  display: none; }

button.header__burguerMenu:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

input#menu:checked ~ .nav-Custom-mobile {
  display: block; }

h1 {
  font-size: 52px;
  font-style: italic;
  color: grey;
  font-family: "Roboto", sans-serif; }

@media (min-width: 700px) {
  nav.nav-Custom-desktop {
    background-color: #ccc;
    float: left;
    height: auto;
    margin-right: 29px;
    display: block !important; }
  .navbar-sidebar {
    width: 280px;
    height: 760px; } }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  grid-column: 1/3;
  font-family: "Source Sans Pro", sans-serif;
  border: 2px solid #737767;
  margin: 0 10px 0px 10px;
  font-weight: 400;
  font-size: 1em;
  padding: 0.2em; }

.formulario {
  display: grid; }

.grid-row,
.grid-header {
  display: flex; }

.grid-row {
  grid-row: 2; }

.grid-header {
  align-items: flex-end;
  grid-row: 1; }

.flex-item {
  display: flex;
  width: 100px;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: normal;
  color: #999; }

.header-item {
  width: 100px;
  text-align: center; }

.header-item:nth-child(1) {
  width: 100px; }

@media (min-width: 500px) {
  .formulario {
    max-width: 768px;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px; }
  .aumentar {
    transition: transform 0.5s ease-in; }
  .aumentar:hover {
    transform: scale(1.2); }
  input[type="text"],
  input[type="email"] {
    margin: 0;
    margin-right: 10px; } }
